{% extends 'mapthat/masters/login-signup-master.html' %}

{% block title %}
Sign Up
{% endblock %}

{% load static %}

{% block content %}
<main class="signup-form">
  <form method="post">
    {% csrf_token %}
    <div class="row justify-content-center align-items-center">
      <img class="mb-4" src="{% static 'mapthat/map-icon.svg' %}" alt="" width="72" height="57">
      <h2 class="h3 mb-3 fw-normal">MapThat!</h2>

      <p>Your mapping future starts now!</p>
    </div>
    <hr>

    {% for field in signupform %}
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">
          {% if field.name == 'firstname' %}
          <i class="fa fa-user"></i>
          {% elif field.name == 'lastname' %}
          <i class="fa fa-user"></i>
          {% elif field.name == 'username' %}
          <i class="fa fa-user"></i>
          {% elif field.name == 'email' %}
          <i class="fa fa-paper-plane"></i>
          {% elif field.name == 'password' %}
          <i class="fa fa-lock"></i>
          {% elif field.name == 'confirmpassword' %}
          <i class="fa fa-lock"></i>
          <i class="fa fa-check"></i>
          {% endif %}
        </span>
      </div>
      {{ field }}
    </div>
    <div class="mt-3"></div>
    {% endfor %}
    <div class="form-group">
      <label class="form-check-label"><input type="checkbox" required="required"> I accept the <a href="#">Terms of
          Use</a> &amp; <a href="#">Privacy Policy</a></label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign up</button>
  </form>
  <div class="text-center">Already have an account? <a href="{% url 'mapthat:login' %}"">Log in</a></div>
</main>
{% endblock %}